.Texte-Association-Micromegas {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1000px;
    padding: 20px 0px;

    p {
        width: 900px;
    }

    li {
        padding: 10px 0px;
        width: 900px;
    }

    a {
        text-decoration: none;
        color: black;
        width: 900px;
    }
}