.Bouton-Navigation {
    position: absolute;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 20px;
    border-radius: 20px;
    top: 570px;
    gap: 20px;
  
 p {
    font-size: 18px;
    font-weight: 600;
}

svg {
    font-size: 20px;
    color: green;
    background-color: white;
    padding: 8px;
    border-radius: 50%;
    cursor: pointer;
}}